################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/Carlier/.vs/Carlier/v15/Server/sqlite3
/Carlier/.vs/Carlier/v15
